header{
    width: 1300px;
    height: 700px;
    /* border: 1px solid; */
    margin: 0 auto;

}
nav{
     width: 1300px;
    height: 510px;
    /* border: 1px solid; */
    background-color: #FFF2E1;
    /* border-radius: 0px 0px 650px 650px; */
}
.top{
     width: 1300px;
     display: flex;
    height: 190px;
    /* border: 1px solid; */
    border-radius: 0px 0px 45% 45%;
    /* position: relative; */
    /* margin-top: 440px; */
    /* margin: 0 auto; */
    margin-left: -1px;
    margin-top: -65px;
    background-color: #FFF2E1;
    position: relative;
    z-index: 0;
}
.navlist{
    display: flex;
    width: 100%;
    height: 13%;
    /* border: 1px solid; */
    display: flex;
}
.nlreght{
    width: 35%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}
.nlleft{
    width: 65%;
    height: 100%;
    /* border: 1px solid; */
    align-items: center;
    display: flex;
}
.nllogo{
    width: 63px;
    height: 63px;
    margin-left: 50px;
}
.nl-h4{
    width: 128px;
    height: 48px;
    color: #113C49;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    position: relative;
    right: 45px;
}.nl-ul{
    display: flex;
    list-style: none;
    gap: 35px;
}
.li1{
    color: #252641;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    margin-top: 12px;
}
.nl-but1{
    width: 140px;
    height: 50px;
    background-color: #fff;
    color: #6C6C6C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing:0.44px;
    border-radius: 80px;
    text-align: center;
    border: #fff;
}
.nl-but2{
    width: 140px;
    height: 50px;
    background-color: #F48C06;
    color: #fff;
    border: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing:0.44px;
    border-radius: 80px;
    text-align: center;
}
.nav-reght{
    width: 40%;
    height: 87%;
    /* border: 1px solid; */
    padding: 80px 30px;
}
.nav-left{
    width: 60%;
    height: 87%;
    /* border: 1px solid; */
}
.nav-select{
    width: 100%;
    height: 99%;
    /* border: 1px solid; */
    display: flex;
}
.nr-h1{
    width: 400px;
    height: 120px;
    /* border: 3px solid; */
    margin: 0 auto;
    color: #2F327D;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nav-b{
    color: #F48C06;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nr-p{
    width: 350px;
    height: 65px;
    /* border: 1px solid; */
    margin: 0 auto;
    margin-left: 45px;
    color: #464646;
font-family: Nunito Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 38.4px */
}
.nr-but{
    width: 150px;
height: 50px;
flex-shrink: 0;
margin-top: -20px;
margin-left: 45px;
border-radius: 80px;
background: #F48C06;
color: #FFF;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: #F48C06;
position: relative;
top: -40px;
}
.play{
    width: 100px;
    height: 100px;
    /* margin-top: 50px; */
    margin-left: -6px;
    position: relative;
    top: 12px;
}
.nr-h6{
    color: #252641;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top: -123px;
left: 280px;
}
.header-girl{
    width: 650px;
    height: 670px;
    position: relative;
    top: -40px;
    z-index: 1;
    margin-left: 40px;
   
/* box-shadow: 0px 4px 100px 0px rgba(29, 28, 24, 0.25); */

}
section{
    width: 1300px;
    height: 7000px;
    border: 1px solid;
    margin: 0 auto;
}
.logo-sc{
    width: 75%;
    height: 110px;
    margin: 0 auto;
    position: relative;
    left: 150px;
    top: 50px;
    /* border: 1px solid; */
}
.sch3{
    width: 30%;
    height: 30px;
    margin: 0 auto;
    /* border: 1px solid; */
    position: relative;
    top: 170px;
    color: #2F327D;
font-family: Poppins;
font-size: 32px;
text-align: center;
font-style: normal;
font-weight: 700;
line-height: 180%; /* 64.8px */
}
.scb{
    color: #F48C06;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 180%;
text-align: center;
}
.sc-h6{
    color: #696984;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 43.2px */
width: 40%;
height: 80px;
margin: 0 auto;
position: relative;
top: 200px;
}
.extra{
    width: 80%;
    height: 300px;
    /* border: 1px solid; */
    position: relative;
    top: 300px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}
.ext{
    flex: 3;
    /* border: 1px solid; */
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);   
}
.ext-img{
    width: 130px;
    margin: 0 auto;
    position: relative;
    top: -65px;
    left: 90px;
}
.ext-h4{
    color: #2F327D;
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 300px;
height: 70px;
margin: 0 auto;
position: relative;
top: -70px;

}
.ext-p{
    color: #696984;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 36px */
margin-top: -55px;
}
.what-scenli{
   width: 350px;
   height: 75px;
   color: #2F327D;
text-align: center;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 180%; /* 79.2px */ 
margin: 0 auto;
position: relative;
top: 450px;
}
.scenli{
    color: #F48C06;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 180%;
}
.sc-p-scenle{
    width: 860px;
    height: 125px;
    /* border: 1px solid; */
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 470px;
    color: #696984;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 43.2px */
letter-spacing: 0.48px;
}
.sc-div1{
    width: 80%;
    height: 350px;
    /* border: 1px solid black; */
    margin: 0 auto;
    position: relative;
    top: 520px;
    gap: 80px;
    display: flex;
}
.sc-1{
    width: 45%;
    /* border: 1px solid; */
    background-size: cover;
    border-radius: 20px;
    background-image: url(./pic/Group\ 22.png);
    /* align-items: center;
    justify-content: center;
    display: flex; */

}
.sc-2{
    width: 45%;
    /* border: 1px solid; */
    margin-left: 20px;
    background-size: cover;
    border-radius: 20px;
    background-image: url(./pic/Group\ 23.png);

}
.s-h2{
    width: 250px;
    height: 40px;
    /* border: 1px solid; */
    margin: 0 auto;
    margin-top: 100px;
    color: #FFF;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.s-btn{
    width: 250px;
    height: 70px;
    color: #FFF;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px solid;
border-radius: 80px;
margin: 0 auto;
position: relative;
left: 110px;
top: 20px;
background-color: rgba(0, 0, 0, 0);
}
.c-btn{
    width: 250px;
    height: 70px;
    color: #FFF;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px  rgba(35, 189, 238, 0.90);
border-radius: 80px;
margin: 0 auto;
position: relative;
left: 110px;
top: 20px;

background: rgba(35, 189, 238, 0.90);

}
.sc-img{
    width: 85%;
    height: 380px;
    margin-left: 100px;
    margin-top: 600px;
}
#h3-1{
    width: 230px;
    height: 60px;
    color: #2F327D;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 180%; 
margin: 0 auto; 
margin-top: 60px;
}
.sc-b{
    color: #F48C06;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 180%;
}
.sc-p-1{
    width: 800px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid;
    color: #696984;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 180%;
margin-top: 30px;
}
.sc-img-1{
    width: 85%;
    height: 480px;
    margin-left: 100px;
    margin-top: 70px;
}
#div-1{
    width: 80%;
    border: 1px solid;
    height: 500px;
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
}
#d-2{
    width:50%;
    height: 100%;
    margin: 0 auto;
    margin-left: 50px;
    border: 1px solid;
    background-image: url(./pic/Group\ 122.png);
    background-size: cover;
}
#d-1{
    width: 50%;
    height: 500px;
    border: 1px solid;
    margin: 0 auto;
    /* padding: 60px 70px; */
    
}
.h1-1{
    width: 370px;
    height: 120px;
    border: 1px solid;
    color: #2F327D;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%;
margin-left: 0px;
margin-top: 100px;
}
.sc-b-1{
    color: #F48C06;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}
.p-1{
    color: #696984;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 39.6px */
letter-spacing: 0.44px;
width: 450px;
margin-left: 0px;
height: 110px;
margin-top: -10px;
}

#div{
    width: 80%;
    border: 1px solid;
    height: 500px;
    display: flex;

}
#div-2{
    width: 80%;
    border: 1px solid;
    height: 500px;
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
}
.d1{
    width: 50%;
    height: 100%;
    border: 1px solid;
    background-image: url(./pic/Group\ 92.png);
    background-size: cover;
}
.d2{
    width: 50%;
    height: 100%;
    border: 1px solid;
}
.h3-2{
    width: 340px;
    height: 120px;
    color: #2F327D;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%;
margin-top: 100px;
margin-left: 40px;
}
.b-1{
    color: #F48C06;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}
.p-2{
    color: #696984;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 39.6px */
letter-spacing: 0.44px;
width: 400;
height: 120px;
margin-left: 40px;
}
#div-3{
    width: 80%;
    border: 1px solid;
    height: 500px;
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
}
#d3{
    width: 50%;
    height: 100%;
    border: 1px solid;
    background-size: cover;
}
#d4{
    width: 50%;
    height: 100%;
    border: 1px solid;
    background-image: url(./pic/Group\ 124.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}
.h3-3{
color: #2F327D;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%;
width: 420.817px;
height: 127.775px;
flex-shrink: 0;
margin-top: 80px;
border: 1px solid;
}
#div-4{
    width: 80%;
    border: 1px solid;
    height: 360px;
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
}
.d5{
    width: 50%;
    height: 100%;
    border: 1px solid;
    background-image: url(./pic/Group\ 106.png);
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
}
.d6{
    width: 50%;
    height: 100%;
    border: 1px solid;
}
.d6-h3{
    width: 340px;
    height: 120px;
    color: #2F327D;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%;
margin-top: 50px;
margin-left: 40px;
}
.d6-b{
    color: #F48C06;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}
.d6-p{
    color: #696984;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 39.6px */
    letter-spacing: 0.44px;
    width: 400;
    height: 120px;
    margin-left: 40px;
}
.d6-btn{
    width: 200px;
    height: 53px;
    border-radius: 80px;
    border: 1px solid #F48C06;
    color: #F48C06;
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 43.2px */
letter-spacing: 0.48px;
margin-left: 550px;
margin-top: 50px;
background-color: #FFF;
}
.d5-img{
    width: 80%;
    height: 320px;
    margin-left: 130px;
    margin-top: 70px;
    
}
.d6-img{
    width: 80%;
    height: 580px;
    margin-left: 180px;
    margin-top: 100px;
}
.d7-h3{
    width: 470px;
    height: 60px;
    color: #2F327D;
font-family: Nunito Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 180%;
margin: 0 auto;
margin-top: 70px;
}
.d7-p{
    color: #696984;
text-align: center;
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 180%;
width: 700px;
height: 40px;
margin: 0 auto;
}